@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Cal+Sans&display=swap');
.login-container {
  background-color: rgba(255, 255, 255, 0.2 );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  padding: 40px;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

.coin {
  width: 100px;
  rotate: 0deg;
  animation: rotate 2s linear infinite, fadeIn 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-title {
  background-color: #7FBC5C;
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  animation: fadeIn 1s ease-in-out 0.2s forwards;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1), 0 6px 20px rgba(0, 0, 0, 0.19);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } /* Retraso de 0.5 segundos antes de iniciar la animación */
}

.login-form {
  padding: 5px; /* Espaciado interno */
  border-radius: 10px;
  margin: 10px; /* Asegúrate de que no tenga márgenes externos */
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.login-button {
  background-color: #7FBC5C;
  margin-top: 20px;
  width: 90%;
  color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.login-button:hover {
  background-color: green;
  cursor: pointer;
  transform: scale(1.05); /* Escala al pasar el mouse */
  transition: background-color 0.3s ease;
}

.register-button {
  background-color: #7FBC5C;
  margin-top: 20px;
  width: 90%;
  color: white;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.register-button:hover {
  background-color: green;
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease;
}

.login-form input {
  padding: 5px; /* Espaciado interno */
  margin-bottom: 5px; /* Espaciado entre campos */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 12px; /* Tamaño de fuente legible */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  width: 85%;
  font-family: "Cal Sans", sans-serif; /* Cambia la fuente a Cal Sans */
  font-weight: normal;
}
